#imageBackground{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}
 #imageJoueurBackground{
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
 }

 #flex-containerIMG{
    height: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
 }


#playerIcon{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto; 
    margin-bottom: 20%; 
    width: 75px;
    height: 75px;;
    background-repeat: no-repeat;
}
#listeMaps{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%; 
    margin-bottom: auto; 
    height: 14%;
}

#listeHeroes{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto; 
    margin-bottom: 5%; 
    height: 14%;
}

#flex-container{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#playerName{
    color: white;
}

