<div id="imageBackground" [style.background-image]="'url(' +imgURI + ')'" ></div>

<div id="flex-containerIMG">
  <div id="imageJoueurBackground" [style.background-image]="'url(' +imgSelectedHero + ')'" ></div>
</div>

<div id="flex-container">
  <!--<figure id="playerIcon">
      <img [src]="playerLookupURI" />
      <figcaption id="playerName">NomJoueur</figcaption>
  </figure>-->
</div>
<div id="flex-container">
  <app-maps id="listeMaps"></app-maps>
  <app-heroes id="listeHeroes"></app-heroes>
</div>



