
<div class="flexBox">
  <div *ngFor="let map of maps">
      <div id="boxPortrait" [class.selected]="map === selectedMap" (click)="onSelect(map)">
        <div id="pictoMap" [style.background-image]="'url(' + beginpathIcon + map.shortName + endPathIcon + ')'"></div>
      </div>
  </div>
</div>