.flexBox{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#boxPortrait{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: red;
    border-width: 2px;
    border-style: solid;
}

#boxPortrait #pictoMap{
    display:block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

#pictoMapType{
    width: auto;
    height: 45px;
}