

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div id="flex-Container"> 
      <div id="firstInfo"><h2>{{ hero.name | uppercase }}</h2></div>   
      <div id="abilities">listOfAbilities</div>    
  </div>
</div>


<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<script>

</script>