
<div class="flexBox">
  <img id="pictoHeroType" [src]="urlPictoAttaker">
  <div *ngFor="let hero of heroes">
      <div *ngIf="hero.type === 'Offense'" id="boxPortrait" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <div id="pictoHero" [style.background-image]="'url(' + beginpathIcon + hero.name + endPathIcon + ')'"></div>
      </div>
  </div>
  <img id="pictoHeroType" [src]="urlPictoDefence">
  <div *ngFor="let hero of heroes">
    <div *ngIf="hero.type === 'Defense'" id="boxPortrait" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
      <div id="pictoHero" [style.background-image]="'url(' + beginpathIcon + hero.name + endPathIcon + ')'"></div>
    </div>
  </div>
  <img id="pictoHeroType" [src]="urlPictoSupport">
  <div *ngFor="let hero of heroes">
    <div *ngIf="hero.type === 'Support'" id="boxPortrait" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <div id="pictoHero" [style.background-image]="'url(' + beginpathIcon + hero.name + endPathIcon + ')'"></div>
    </div>
  </div>
  <img id="pictoHeroType" [src]="urlPictoTank">
  <div *ngFor="let hero of heroes">
    <div *ngIf="hero.type === 'Tank'" id="boxPortrait" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <div id="pictoHero" [style.background-image]="'url(' + beginpathIcon + hero.name + endPathIcon + ')'"></div>
    </div>
  </div>
</div>
 
<div *ngIf="selectedHero">
  <app-heroe-detail [hero]="selectedHero"></app-heroe-detail>
  <!--<h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>-->
 
</div>